USE [fireCheck]

/****** Object:  Table [dbo].[failed_jobs]    Script Date: 2/3/2026 8:38:22 PM ******/
SET ANSI_NULLS ON

SET QUOTED_IDENTIFIER ON

CREATE TABLE [dbo].[failed_jobs](
	[id] [numeric](20, 0) IDENTITY(1,1) NOT NULL,
	[uuid] [nvarchar](255) NOT NULL,
	[connection] [nvarchar](max) NOT NULL,
	[queue] [nvarchar](max) NOT NULL,
	[payload] [nvarchar](max) NOT NULL,
	[exception] [nvarchar](max) NOT NULL,
	[failed_at] [datetime] NOT NULL,
 CONSTRAINT [PK_failed_jobs_id] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

/****** Object:  Table [dbo].[fc_admin]    Script Date: 2/3/2026 8:38:22 PM ******/
SET ANSI_NULLS ON

SET QUOTED_IDENTIFIER ON

CREATE TABLE [dbo].[fc_admin](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[username] [varchar](100) NOT NULL,
	[password_hash] [varchar](255) NOT NULL,
	[created_at] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]

/****** Object:  Table [dbo].[fc_apar]    Script Date: 2/3/2026 8:38:22 PM ******/
SET ANSI_NULLS ON

SET QUOTED_IDENTIFIER ON

CREATE TABLE [dbo].[fc_apar](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[brand] [varchar](100) NOT NULL,
	[media_id] [int] NOT NULL,
	[type] [varchar](50) NULL,
	[capacity] [decimal](5, 2) NULL,
	[expired_date] [date] NULL,
	[location_id] [int] NULL,
	[location_detail] [varchar](255) NULL,
	[created_at] [datetime] NULL,
	[updated_at] [datetime] NULL,
	[apar_code] [varchar](20) NULL,
	[tube_weight] [decimal](10, 2) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]

/****** Object:  Table [dbo].[fc_apar_inspections]    Script Date: 2/3/2026 8:38:22 PM ******/
SET ANSI_NULLS ON

SET QUOTED_IDENTIFIER ON

CREATE TABLE [dbo].[fc_apar_inspections](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[inspection_schedule_id] [int] NOT NULL,
	[apar_id] [int] NOT NULL,
	[inspected_by] [int] NULL,
	[inspected_at] [datetime] NULL,
	[status] [varchar](20) NULL,
	[notes] [text] NULL,
	[created_at] [datetime] NULL,
	[updated_at] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

/****** Object:  Table [dbo].[fc_inspection_question_options]    Script Date: 2/3/2026 8:38:22 PM ******/
SET ANSI_NULLS ON

SET QUOTED_IDENTIFIER ON

CREATE TABLE [dbo].[fc_inspection_question_options](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[inspection_question_id] [int] NOT NULL,
	[option_text] [nvarchar](255) NOT NULL,
	[created_at] [datetime] NULL,
	[updated_at] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]

/****** Object:  Table [dbo].[fc_inspection_questions]    Script Date: 2/3/2026 8:38:22 PM ******/
SET ANSI_NULLS ON

SET QUOTED_IDENTIFIER ON

CREATE TABLE [dbo].[fc_inspection_questions](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[media_id] [int] NOT NULL,
	[question_text] [nvarchar](255) NOT NULL,
	[created_at] [datetime] NULL,
	[updated_at] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]

/****** Object:  Table [dbo].[fc_inspection_results]    Script Date: 2/3/2026 8:38:22 PM ******/
SET ANSI_NULLS ON

SET QUOTED_IDENTIFIER ON

CREATE TABLE [dbo].[fc_inspection_results](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[inspection_schedule_id] [int] NOT NULL,
	[apar_id] [int] NOT NULL,
	[inspection_question_id] [int] NOT NULL,
	[inspection_question_option_id] [int] NOT NULL,
	[notes] [nvarchar](max) NULL,
	[created_at] [datetime] NULL,
	[updated_at] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

/****** Object:  Table [dbo].[fc_inspection_schedules]    Script Date: 2/3/2026 8:38:22 PM ******/
SET ANSI_NULLS ON

SET QUOTED_IDENTIFIER ON

CREATE TABLE [dbo].[fc_inspection_schedules](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[title] [nvarchar](100) NOT NULL,
	[start_date] [date] NOT NULL,
	[start_time] [time](7) NOT NULL,
	[end_date] [date] NOT NULL,
	[end_time] [time](7) NOT NULL,
	[notes] [nvarchar](max) NULL,
	[created_at] [datetime] NULL,
	[updated_at] [datetime] NULL,
	[schedule_type_id] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

/****** Object:  Table [dbo].[fc_location]    Script Date: 2/3/2026 8:38:22 PM ******/
SET ANSI_NULLS ON

SET QUOTED_IDENTIFIER ON

CREATE TABLE [dbo].[fc_location](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[location_name] [varchar](100) NOT NULL,
	[description] [varchar](255) NULL,
	[created_at] [datetime] NULL,
	[updated_at] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]

/****** Object:  Table [dbo].[fc_media]    Script Date: 2/3/2026 8:38:22 PM ******/
SET ANSI_NULLS ON

SET QUOTED_IDENTIFIER ON

CREATE TABLE [dbo].[fc_media](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[media_name] [varchar](100) NOT NULL,
	[created_at] [datetime] NULL,
	[updated_at] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]

/****** Object:  Table [dbo].[fc_schedule_type]    Script Date: 2/3/2026 8:38:22 PM ******/
SET ANSI_NULLS ON

SET QUOTED_IDENTIFIER ON

CREATE TABLE [dbo].[fc_schedule_type](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[schedule_name] [varchar](100) NOT NULL,
	[created_at] [datetime] NULL,
	[updated_at] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]

/****** Object:  Table [dbo].[migrations]    Script Date: 2/3/2026 8:38:22 PM ******/
SET ANSI_NULLS ON

SET QUOTED_IDENTIFIER ON

CREATE TABLE [dbo].[migrations](
	[id] [bigint] IDENTITY(34,1) NOT NULL,
	[migration] [nvarchar](255) NOT NULL,
	[batch] [int] NOT NULL,
 CONSTRAINT [PK_migrations_id] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]

/****** Object:  Table [dbo].[personal_access_tokens]    Script Date: 2/3/2026 8:38:22 PM ******/
SET ANSI_NULLS ON

SET QUOTED_IDENTIFIER ON

CREATE TABLE [dbo].[personal_access_tokens](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[tokenable_type] [nvarchar](255) NOT NULL,
	[tokenable_id] [bigint] NOT NULL,
	[name] [nvarchar](max) NOT NULL,
	[token] [nvarchar](64) NOT NULL,
	[abilities] [nvarchar](max) NULL,
	[last_used_at] [datetime] NULL,
	[expires_at] [datetime] NULL,
	[created_at] [datetime] NULL,
	[updated_at] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

/****** Object:  Table [dbo].[sessions]    Script Date: 2/3/2026 8:38:22 PM ******/
SET ANSI_NULLS ON

SET QUOTED_IDENTIFIER ON

CREATE TABLE [dbo].[sessions](
	[id] [nvarchar](255) NOT NULL,
	[user_id] [numeric](20, 0) NULL,
	[ip_address] [nvarchar](45) NULL,
	[user_agent] [nvarchar](max) NULL,
	[payload] [nvarchar](max) NOT NULL,
	[last_activity] [int] NOT NULL,
 CONSTRAINT [PK_sessions_id] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

/****** Object:  Table [dbo].[users]    Script Date: 2/3/2026 8:38:22 PM ******/
SET ANSI_NULLS ON

SET QUOTED_IDENTIFIER ON

CREATE TABLE [dbo].[users](
	[id] [int] IDENTITY(537,1) NOT NULL,
	[npk] [nvarchar](255) NULL,
	[email] [nvarchar](255) NULL,
	[username] [nvarchar](255) NULL,
	[fullname] [nvarchar](255) NULL,
	[join_date] [date] NULL,
	[end_date] [date] NULL,
	[pkwt] [nvarchar](255) NULL,
	[depart_id] [int] NULL,
	[section_id] [int] NULL,
	[director_id] [int] NULL,
	[role_level_id] [nvarchar](255) NULL,
	[password_hash] [nvarchar](255) NOT NULL,
	[password] [nvarchar](255) NOT NULL,
	[created_at] [datetime2](0) NULL,
	[updated_at] [datetime2](0) NULL,
	[user_image] [nvarchar](max) NULL,
	[id_adm] [int] NULL,
	[hak_akses] [nvarchar](255) NULL,
 CONSTRAINT [PK_users_id] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

SET IDENTITY_INSERT [dbo].[failed_jobs] ON 

SET IDENTITY_INSERT [dbo].[failed_jobs] OFF

SET IDENTITY_INSERT [dbo].[fc_admin] ON 

INSERT [dbo].[fc_admin] ([id], [username], [password_hash], [created_at]) VALUES (1, N'admin', N'$2y$12$CBg7YVz6pD6cEy0TB0BUfOYunuVcirrSkDJmYCxBRnaeL5Tsj/xn6', CAST(N'2025-07-27T20:32:11.413' AS DateTime))
SET IDENTITY_INSERT [dbo].[fc_admin] OFF

SET IDENTITY_INSERT [dbo].[fc_apar] ON 

INSERT [dbo].[fc_apar] ([id], [brand], [media_id], [type], [capacity], [expired_date], [location_id], [location_detail], [created_at], [updated_at], [apar_code], [tube_weight]) VALUES (9, N'FireFix', 1, N'fp 3', CAST(3.00 AS Decimal(5, 2)), CAST(N'2026-01-27' AS Date), 2, N'pojok ruangan', CAST(N'2026-01-24T08:35:31.243' AS DateTime), CAST(N'2026-01-26T02:59:29.800' AS DateTime), N'APAR001', NULL)
INSERT [dbo].[fc_apar] ([id], [brand], [media_id], [type], [capacity], [expired_date], [location_id], [location_detail], [created_at], [updated_at], [apar_code], [tube_weight]) VALUES (10, N'Gunnebo', 2, N'fp 3', CAST(3.00 AS Decimal(5, 2)), CAST(N'2026-03-11' AS Date), 2, N'belakang ruangan', CAST(N'2026-01-26T07:15:46.330' AS DateTime), CAST(N'2026-01-27T02:59:56.643' AS DateTime), N'APAR002', CAST(1.50 AS Decimal(10, 2)))
INSERT [dbo].[fc_apar] ([id], [brand], [media_id], [type], [capacity], [expired_date], [location_id], [location_detail], [created_at], [updated_at], [apar_code], [tube_weight]) VALUES (11, N'Gunnebo', 2, N'fp 3', CAST(2.00 AS Decimal(5, 2)), CAST(N'2026-01-28' AS Date), 2, N'cek', CAST(N'2026-01-27T08:58:20.397' AS DateTime), CAST(N'2026-01-27T08:58:20.397' AS DateTime), N'APAR003', CAST(3.00 AS Decimal(10, 2)))
SET IDENTITY_INSERT [dbo].[fc_apar] OFF

SET IDENTITY_INSERT [dbo].[fc_apar_inspections] ON 

INSERT [dbo].[fc_apar_inspections] ([id], [inspection_schedule_id], [apar_id], [inspected_by], [inspected_at], [status], [notes], [created_at], [updated_at]) VALUES (11, 7, 9, NULL, NULL, NULL, NULL, CAST(N'2026-01-27T02:45:29.303' AS DateTime), CAST(N'2026-01-27T02:45:29.303' AS DateTime))
INSERT [dbo].[fc_apar_inspections] ([id], [inspection_schedule_id], [apar_id], [inspected_by], [inspected_at], [status], [notes], [created_at], [updated_at]) VALUES (12, 7, 10, NULL, NULL, NULL, NULL, CAST(N'2026-01-27T02:45:29.310' AS DateTime), CAST(N'2026-01-27T02:45:29.310' AS DateTime))
INSERT [dbo].[fc_apar_inspections] ([id], [inspection_schedule_id], [apar_id], [inspected_by], [inspected_at], [status], [notes], [created_at], [updated_at]) VALUES (13, 8, 9, NULL, NULL, NULL, NULL, CAST(N'2026-02-02T06:19:33.693' AS DateTime), CAST(N'2026-02-02T06:19:33.693' AS DateTime))
SET IDENTITY_INSERT [dbo].[fc_apar_inspections] OFF

SET IDENTITY_INSERT [dbo].[fc_inspection_question_options] ON 

INSERT [dbo].[fc_inspection_question_options] ([id], [inspection_question_id], [option_text], [created_at], [updated_at]) VALUES (1, 1, N'Over pressure', CAST(N'2025-07-30T11:09:48.850' AS DateTime), CAST(N'2026-01-27T10:04:12.680' AS DateTime))
INSERT [dbo].[fc_inspection_question_options] ([id], [inspection_question_id], [option_text], [created_at], [updated_at]) VALUES (2, 1, N'Normal', CAST(N'2025-07-30T11:09:48.850' AS DateTime), CAST(N'2026-01-27T10:04:12.680' AS DateTime))
INSERT [dbo].[fc_inspection_question_options] ([id], [inspection_question_id], [option_text], [created_at], [updated_at]) VALUES (3, 1, N'Under pressure', CAST(N'2025-07-30T11:09:48.850' AS DateTime), CAST(N'2026-01-27T10:04:12.680' AS DateTime))
SET IDENTITY_INSERT [dbo].[fc_inspection_question_options] OFF

SET IDENTITY_INSERT [dbo].[fc_inspection_questions] ON 

INSERT [dbo].[fc_inspection_questions] ([id], [media_id], [question_text], [created_at], [updated_at]) VALUES (1, 2, N'Pressure Gauge / Indicator', CAST(N'2025-07-30T11:09:48.847' AS DateTime), CAST(N'2026-01-27T10:07:37.180' AS DateTime))
INSERT [dbo].[fc_inspection_questions] ([id], [media_id], [question_text], [created_at], [updated_at]) VALUES (2, 2, N'Tamper Seal', CAST(N'2025-07-30T11:09:48.853' AS DateTime), CAST(N'2026-01-27T10:07:37.180' AS DateTime))
INSERT [dbo].[fc_inspection_questions] ([id], [media_id], [question_text], [created_at], [updated_at]) VALUES (3, 2, N'Safety Pin', CAST(N'2025-07-30T11:09:48.853' AS DateTime), CAST(N'2026-01-27T10:07:37.180' AS DateTime))
SET IDENTITY_INSERT [dbo].[fc_inspection_questions] OFF

SET IDENTITY_INSERT [dbo].[fc_inspection_schedules] ON 

INSERT [dbo].[fc_inspection_schedules] ([id], [title], [start_date], [start_time], [end_date], [end_time], [notes], [created_at], [updated_at], [schedule_type_id]) VALUES (1, N'check v', CAST(N'2025-07-28' AS Date), CAST(N'08:45:00' AS Time), CAST(N'2025-07-28' AS Date), CAST(N'14:45:00' AS Time), N'cek', CAST(N'2025-07-28T14:43:31.373' AS DateTime), CAST(N'2025-07-28T14:43:31.373' AS DateTime), 1)
INSERT [dbo].[fc_inspection_schedules] ([id], [title], [start_date], [start_time], [end_date], [end_time], [notes], [created_at], [updated_at], [schedule_type_id]) VALUES (2, N'mandi', CAST(N'2025-07-28' AS Date), CAST(N'16:22:00' AS Time), CAST(N'2025-07-28' AS Date), CAST(N'18:23:00' AS Time), N'in another life, i will be okay yey', CAST(N'2025-07-28T16:23:31.820' AS DateTime), CAST(N'2025-07-28T16:23:31.820' AS DateTime), NULL)
INSERT [dbo].[fc_inspection_schedules] ([id], [title], [start_date], [start_time], [end_date], [end_time], [notes], [created_at], [updated_at], [schedule_type_id]) VALUES (3, N'cek rutin', CAST(N'2025-07-31' AS Date), CAST(N'11:45:00' AS Time), CAST(N'2025-07-31' AS Date), CAST(N'16:45:00' AS Time), N'cek', CAST(N'2025-07-31T10:42:03.047' AS DateTime), CAST(N'2025-07-31T10:42:03.047' AS DateTime), 2)
SET IDENTITY_INSERT [dbo].[fc_inspection_schedules] OFF

SET IDENTITY_INSERT [dbo].[fc_location] ON 

INSERT [dbo].[fc_location] ([id], [location_name], [description], [created_at], [updated_at]) VALUES (1, N'Warehouse A', N'Near loading dock', CAST(N'2025-07-27T20:28:27.210' AS DateTime), CAST(N'2025-07-27T20:28:27.210' AS DateTime))
INSERT [dbo].[fc_location] ([id], [location_name], [description], [created_at], [updated_at]) VALUES (2, N'Main Office', N'2nd Floor', CAST(N'2025-07-27T20:28:27.210' AS DateTime), CAST(N'2025-07-27T20:28:27.210' AS DateTime))
INSERT [dbo].[fc_location] ([id], [location_name], [description], [created_at], [updated_at]) VALUES (3, N'Lobby', N'Front desk', CAST(N'2025-07-27T20:28:27.210' AS DateTime), CAST(N'2025-07-27T20:28:27.210' AS DateTime))
SET IDENTITY_INSERT [dbo].[fc_location] OFF

SET IDENTITY_INSERT [dbo].[fc_media] ON 

INSERT [dbo].[fc_media] ([id], [media_name], [created_at], [updated_at]) VALUES (1, N'Foam', CAST(N'2025-07-27T20:28:27.203' AS DateTime), CAST(N'2025-07-27T20:28:27.203' AS DateTime))
INSERT [dbo].[fc_media] ([id], [media_name], [created_at], [updated_at]) VALUES (2, N'Powder', CAST(N'2025-07-27T20:28:27.203' AS DateTime), CAST(N'2025-07-27T20:28:27.203' AS DateTime))
INSERT [dbo].[fc_media] ([id], [media_name], [created_at], [updated_at]) VALUES (3, N'CO2', CAST(N'2025-07-27T20:28:27.203' AS DateTime), CAST(N'2025-07-27T20:28:27.203' AS DateTime))
SET IDENTITY_INSERT [dbo].[fc_media] OFF

SET IDENTITY_INSERT [dbo].[fc_schedule_type] ON 

INSERT [dbo].[fc_schedule_type] ([id], [schedule_name], [created_at], [updated_at]) VALUES (1, N'Check Vendor', CAST(N'2025-07-27T20:28:27.210' AS DateTime), CAST(N'2025-07-27T20:28:27.210' AS DateTime))
INSERT [dbo].[fc_schedule_type] ([id], [schedule_name], [created_at], [updated_at]) VALUES (2, N'Check Self', CAST(N'2025-07-27T20:28:27.210' AS DateTime), CAST(N'2025-07-27T20:28:27.210' AS DateTime))
INSERT [dbo].[fc_schedule_type] ([id], [schedule_name], [created_at], [updated_at]) VALUES (3, N'Refill', CAST(N'2025-07-27T20:28:27.210' AS DateTime), CAST(N'2025-07-27T20:28:27.210' AS DateTime))
SET IDENTITY_INSERT [dbo].[fc_schedule_type] OFF

SET IDENTITY_INSERT [dbo].[migrations] ON 

INSERT [dbo].[migrations] ([id], [migration], [batch]) VALUES (19, N'0001_01_01_000000_create_users_table', 1)
INSERT [dbo].[migrations] ([id], [migration], [batch]) VALUES (20, N'0001_01_01_000001_create_cache_table', 1)
INSERT [dbo].[migrations] ([id], [migration], [batch]) VALUES (21, N'0001_01_01_000002_create_jobs_table', 1)
SET IDENTITY_INSERT [dbo].[migrations] OFF


SET IDENTITY_INSERT [dbo].[users] ON 

INSERT [dbo].[users] ([id], [npk], [email], [username], [fullname], [join_date], [end_date], [pkwt], [depart_id], [section_id], [director_id], [role_level_id], [password_hash], [password], [created_at], [updated_at], [user_image], [id_adm], [hak_akses]) VALUES (1, N'12312', N'admin@astra-visteon.com', N'superadmin', N'Super Admin', NULL, NULL, NULL, NULL, NULL, NULL, N'1', N'$2y$12$eANeulLRWgiyDR2gPGj8t.ZjX0zIpyykstdl1XYM.ykrA5qDYba1W', N'Avi123!', NULL, CAST(N'2024-09-18T04:09:39.0000000' AS DateTime2), N'1725953616_2db1b7a7f5788ccca1bc.png', NULL, NULL)
INSERT [dbo].[users] ([id], [npk], [email], [username], [fullname], [join_date], [end_date], [pkwt], [depart_id], [section_id], [director_id], [role_level_id], [password_hash], [password], [created_at], [updated_at], [user_image], [id_adm], [hak_akses]) VALUES (2, N'0006', N'ali.zunan@astra-visteon.com', N'0006', N'Ali Zunan', NULL, NULL, NULL, NULL, NULL, 1, N'5', N'$2y$12$TOVCGF2EZAOcsiwNEVJhNOzIVP7/PH1htBo4RYpEBBvNRIEy3ybJi', N'Avi123!', CAST(N'2024-09-03T15:25:52.0000000' AS DateTime2), CAST(N'2024-09-03T15:25:52.0000000' AS DateTime2), NULL, NULL, NULL)
INSERT [dbo].[users] ([id], [npk], [email], [username], [fullname], [join_date], [end_date], [pkwt], [depart_id], [section_id], [director_id], [role_level_id], [password_hash], [password], [created_at], [updated_at], [user_image], [id_adm], [hak_akses]) VALUES (3, N'0008', N'bayu.wibisono@astra-visteon.com', N'0008', N'Bayu Wibisono', NULL, NULL, NULL, 1, NULL, 1, N'7', N'$2y$12$4PII1Ue6SRXKA7g/Bh/WjOsNXe6sH0RONxXriZUjmnV.Nh41hwNwK', N'Avi123!', CAST(N'2024-09-03T15:25:52.0000000' AS DateTime2), CAST(N'2024-09-03T15:25:52.0000000' AS DateTime2), NULL, NULL, NULL)

SET IDENTITY_INSERT [dbo].[users] OFF

SET ANSI_PADDING ON

/****** Object:  Index [failed_jobs$failed_jobs_uuid_unique]    Script Date: 2/3/2026 8:38:23 PM ******/
ALTER TABLE [dbo].[failed_jobs] ADD  CONSTRAINT [failed_jobs$failed_jobs_uuid_unique] UNIQUE NONCLUSTERED 
(
	[uuid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]

SET ANSI_PADDING ON

/****** Object:  Index [UQ__fc_admin__F3DBC5728AA387B1]    Script Date: 2/3/2026 8:38:23 PM ******/
ALTER TABLE [dbo].[fc_admin] ADD UNIQUE NONCLUSTERED 
(
	[username] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]

SET ANSI_PADDING ON

/****** Object:  Index [UQ__fc_apar__E0319B81CE0C4CA8]    Script Date: 2/3/2026 8:38:23 PM ******/
ALTER TABLE [dbo].[fc_apar] ADD UNIQUE NONCLUSTERED 
(
	[apar_code] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]

SET ANSI_PADDING ON

/****** Object:  Index [idx_apar_code]    Script Date: 2/3/2026 8:38:23 PM ******/
CREATE NONCLUSTERED INDEX [idx_apar_code] ON [dbo].[fc_apar]
(
	[apar_code] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]

/****** Object:  Index [personal_access_tokens_expires_at_index]    Script Date: 2/3/2026 8:38:23 PM ******/
CREATE NONCLUSTERED INDEX [personal_access_tokens_expires_at_index] ON [dbo].[personal_access_tokens]
(
	[expires_at] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]

SET ANSI_PADDING ON

/****** Object:  Index [personal_access_tokens_token_unique]    Script Date: 2/3/2026 8:38:23 PM ******/
CREATE UNIQUE NONCLUSTERED INDEX [personal_access_tokens_token_unique] ON [dbo].[personal_access_tokens]
(
	[token] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]

SET ANSI_PADDING ON

/****** Object:  Index [personal_access_tokens_tokenable_type_tokenable_id_index]    Script Date: 2/3/2026 8:38:23 PM ******/
CREATE NONCLUSTERED INDEX [personal_access_tokens_tokenable_type_tokenable_id_index] ON [dbo].[personal_access_tokens]
(
	[tokenable_type] ASC,
	[tokenable_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]

/****** Object:  Index [sessions_last_activity_index]    Script Date: 2/3/2026 8:38:23 PM ******/
CREATE NONCLUSTERED INDEX [sessions_last_activity_index] ON [dbo].[sessions]
(
	[last_activity] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]

/****** Object:  Index [sessions_user_id_index]    Script Date: 2/3/2026 8:38:23 PM ******/
CREATE NONCLUSTERED INDEX [sessions_user_id_index] ON [dbo].[sessions]
(
	[user_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]

SET ANSI_PADDING ON

/****** Object:  Index [users$username]    Script Date: 2/3/2026 8:38:23 PM ******/
ALTER TABLE [dbo].[users] ADD  CONSTRAINT [users$username] UNIQUE NONCLUSTERED 
(
	[username] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]

ALTER TABLE [dbo].[failed_jobs] ADD  DEFAULT (getdate()) FOR [failed_at]

ALTER TABLE [dbo].[fc_admin] ADD  DEFAULT (getdate()) FOR [created_at]

ALTER TABLE [dbo].[fc_apar] ADD  DEFAULT (getdate()) FOR [created_at]

ALTER TABLE [dbo].[fc_apar] ADD  DEFAULT (getdate()) FOR [updated_at]

ALTER TABLE [dbo].[fc_apar_inspections] ADD  DEFAULT ('pending') FOR [status]

ALTER TABLE [dbo].[fc_apar_inspections] ADD  DEFAULT (getdate()) FOR [created_at]

ALTER TABLE [dbo].[fc_apar_inspections] ADD  DEFAULT (getdate()) FOR [updated_at]

ALTER TABLE [dbo].[fc_inspection_question_options] ADD  DEFAULT (getdate()) FOR [created_at]

ALTER TABLE [dbo].[fc_inspection_question_options] ADD  DEFAULT (getdate()) FOR [updated_at]

ALTER TABLE [dbo].[fc_inspection_questions] ADD  DEFAULT (getdate()) FOR [created_at]

ALTER TABLE [dbo].[fc_inspection_questions] ADD  DEFAULT (getdate()) FOR [updated_at]

ALTER TABLE [dbo].[fc_inspection_results] ADD  DEFAULT (getdate()) FOR [created_at]

ALTER TABLE [dbo].[fc_inspection_results] ADD  DEFAULT (getdate()) FOR [updated_at]

ALTER TABLE [dbo].[fc_inspection_schedules] ADD  DEFAULT (getdate()) FOR [created_at]

ALTER TABLE [dbo].[fc_inspection_schedules] ADD  DEFAULT (getdate()) FOR [updated_at]

ALTER TABLE [dbo].[fc_location] ADD  DEFAULT (getdate()) FOR [created_at]

ALTER TABLE [dbo].[fc_location] ADD  DEFAULT (getdate()) FOR [updated_at]

ALTER TABLE [dbo].[fc_media] ADD  DEFAULT (getdate()) FOR [created_at]

ALTER TABLE [dbo].[fc_media] ADD  DEFAULT (getdate()) FOR [updated_at]

ALTER TABLE [dbo].[fc_schedule_type] ADD  DEFAULT (getdate()) FOR [created_at]

ALTER TABLE [dbo].[fc_schedule_type] ADD  DEFAULT (getdate()) FOR [updated_at]

ALTER TABLE [dbo].[sessions] ADD  DEFAULT (NULL) FOR [user_id]

ALTER TABLE [dbo].[sessions] ADD  DEFAULT (NULL) FOR [ip_address]

ALTER TABLE [dbo].[users] ADD  DEFAULT (NULL) FOR [npk]

ALTER TABLE [dbo].[users] ADD  DEFAULT (NULL) FOR [email]

ALTER TABLE [dbo].[users] ADD  DEFAULT (NULL) FOR [username]

ALTER TABLE [dbo].[users] ADD  DEFAULT (NULL) FOR [fullname]

ALTER TABLE [dbo].[users] ADD  DEFAULT (NULL) FOR [join_date]

ALTER TABLE [dbo].[users] ADD  DEFAULT (NULL) FOR [end_date]

ALTER TABLE [dbo].[users] ADD  DEFAULT (NULL) FOR [pkwt]

ALTER TABLE [dbo].[users] ADD  DEFAULT (NULL) FOR [depart_id]

ALTER TABLE [dbo].[users] ADD  DEFAULT (NULL) FOR [section_id]

ALTER TABLE [dbo].[users] ADD  DEFAULT (NULL) FOR [director_id]

ALTER TABLE [dbo].[users] ADD  DEFAULT (NULL) FOR [role_level_id]

ALTER TABLE [dbo].[users] ADD  DEFAULT (NULL) FOR [created_at]

ALTER TABLE [dbo].[users] ADD  DEFAULT (NULL) FOR [updated_at]

ALTER TABLE [dbo].[users] ADD  DEFAULT (NULL) FOR [id_adm]

ALTER TABLE [dbo].[users] ADD  DEFAULT (NULL) FOR [hak_akses]

ALTER TABLE [dbo].[fc_apar]  WITH CHECK ADD  CONSTRAINT [fk_apar_location] FOREIGN KEY([location_id])
REFERENCES [dbo].[fc_location] ([id])

ALTER TABLE [dbo].[fc_apar] CHECK CONSTRAINT [fk_apar_location]

ALTER TABLE [dbo].[fc_apar]  WITH CHECK ADD  CONSTRAINT [fk_apar_media] FOREIGN KEY([media_id])
REFERENCES [dbo].[fc_media] ([id])

ALTER TABLE [dbo].[fc_apar] CHECK CONSTRAINT [fk_apar_media]

ALTER TABLE [dbo].[fc_apar_inspections]  WITH CHECK ADD  CONSTRAINT [FK_apar_inspections_apar] FOREIGN KEY([apar_id])
REFERENCES [dbo].[fc_apar] ([id])

ALTER TABLE [dbo].[fc_apar_inspections] CHECK CONSTRAINT [FK_apar_inspections_apar]

ALTER TABLE [dbo].[fc_apar_inspections]  WITH CHECK ADD  CONSTRAINT [FK_apar_inspections_schedule] FOREIGN KEY([inspection_schedule_id])
REFERENCES [dbo].[fc_inspection_schedules] ([id])

ALTER TABLE [dbo].[fc_apar_inspections] CHECK CONSTRAINT [FK_apar_inspections_schedule]

ALTER TABLE [dbo].[fc_apar_inspections]  WITH CHECK ADD  CONSTRAINT [FK_apar_inspections_schedule_v2] FOREIGN KEY([inspection_schedule_id])
REFERENCES [dbo].[fc_inspection_schedules] ([id])

ALTER TABLE [dbo].[fc_apar_inspections] CHECK CONSTRAINT [FK_apar_inspections_schedule_v2]

ALTER TABLE [dbo].[fc_inspection_question_options]  WITH CHECK ADD FOREIGN KEY([inspection_question_id])
REFERENCES [dbo].[fc_inspection_questions] ([id])
ON DELETE CASCADE

ALTER TABLE [dbo].[fc_inspection_results]  WITH CHECK ADD FOREIGN KEY([apar_id])
REFERENCES [dbo].[fc_apar] ([id])
ON DELETE CASCADE

ALTER TABLE [dbo].[fc_inspection_results]  WITH CHECK ADD FOREIGN KEY([inspection_schedule_id])
REFERENCES [dbo].[fc_inspection_schedules] ([id])
ON DELETE CASCADE

ALTER TABLE [dbo].[fc_inspection_results]  WITH CHECK ADD FOREIGN KEY([inspection_question_id])
REFERENCES [dbo].[fc_inspection_questions] ([id])

ALTER TABLE [dbo].[fc_inspection_results]  WITH CHECK ADD FOREIGN KEY([inspection_question_option_id])
REFERENCES [dbo].[fc_inspection_question_options] ([id])

ALTER TABLE [dbo].[fc_inspection_schedules]  WITH CHECK ADD  CONSTRAINT [fk_schedule_type] FOREIGN KEY([schedule_type_id])
REFERENCES [dbo].[fc_schedule_type] ([id])

ALTER TABLE [dbo].[fc_inspection_schedules] CHECK CONSTRAINT [fk_schedule_type]

EXEC sys.sp_addextendedproperty @name=N'MS_SSMA_SOURCE', @value=N'digitalisasi.failed_jobs' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'failed_jobs'

EXEC sys.sp_addextendedproperty @name=N'MS_SSMA_SOURCE', @value=N'digitalisasi.migrations' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'migrations'

EXEC sys.sp_addextendedproperty @name=N'MS_SSMA_SOURCE', @value=N'digitalisasi.sessions' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'sessions'

EXEC sys.sp_addextendedproperty @name=N'MS_SSMA_SOURCE', @value=N'digitalisasi.users' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'users'

